/* Default to light mode */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

button.dark-mode {
    background-color: #333;
    color: white;
}

button.light-mode {
    background-color: white;
    color: black;
}
